WindowsFormsApplication1/Service References/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tentakiller.org/show" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tentakiller.org/show" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tentakiller.org/show">
      <s:element name="getStudents">
        <s:complexType />
      </s:element>
      <s:element name="getStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExams">
        <s:complexType />
      </s:element>
      <s:element name="getExamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExamsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTrials">
        <s:complexType />
      </s:element>
      <s:element name="getTrialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTrialsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:getStudents" />
  </wsdl:message>
  <wsdl:message name="getStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="getExamsSoapIn">
    <wsdl:part name="parameters" element="tns:getExams" />
  </wsdl:message>
  <wsdl:message name="getExamsSoapOut">
    <wsdl:part name="parameters" element="tns:getExamsResponse" />
  </wsdl:message>
  <wsdl:message name="getTrialsSoapIn">
    <wsdl:part name="parameters" element="tns:getTrials" />
  </wsdl:message>
  <wsdl:message name="getTrialsSoapOut">
    <wsdl:part name="parameters" element="tns:getTrialsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getStudents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Students</wsdl:documentation>
      <wsdl:input message="tns:getStudentsSoapIn" />
      <wsdl:output message="tns:getStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExams">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Exams</wsdl:documentation>
      <wsdl:input message="tns:getExamsSoapIn" />
      <wsdl:output message="tns:getExamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTrials">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Trials</wsdl:documentation>
      <wsdl:input message="tns:getTrialsSoapIn" />
      <wsdl:output message="tns:getTrialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudents">
      <soap:operation soapAction="http://tentakiller.org/show/getStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExams">
      <soap:operation soapAction="http://tentakiller.org/show/getExams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrials">
      <soap:operation soapAction="http://tentakiller.org/show/getTrials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudents">
      <soap12:operation soapAction="http://tentakiller.org/show/getStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExams">
      <soap12:operation soapAction="http://tentakiller.org/show/getExams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrials">
      <soap12:operation soapAction="http://tentakiller.org/show/getTrials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:8398/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:8398/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>